[Desktop Entry]
Name=ftpmounter
Comment=mount ftp to filesystem
Exec=ftpmounter.py
Icon=ftpmounter
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
